@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2 style="font-family:serif">Welcome to the Diploma Option's Registration Site</h2>
    <h3>Registration status: <span id="inject"></span> </h3>
    <aside id="res" style="display:none">@ViewBag.Message</aside>
</div>

<style>
    .header-row > .col-md-4 > h2 { 
        margin-bottom: 2em;
    }
</style>


<div class="row header-row">
    <div class="col-md-4">
        <h2 class="text-center">Getting Started at BCIT</h2>
        <p>
            <img class="thumbnail" src="~/Content/images/workflow.PNG" alt="bcit-diploma-workflow"/>
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Options at BCIT</h2>
        <p>
            <ul style="font-size:1.3em;line-height:2">
                <li>Client / Server</li>
                <li style="font-style:oblique">Web and Mobile</li>
                <li>Database</li>
                <li>Data Communications and Internetworking</li>
                <li>Digital Processing</li>
                <li>Information Systems</li>
                <li>Technical Programing</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://www.bcit.ca/">Go to BCIT</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Map of BCIT</h2>
        <p>
            <div id="bcitMap" style="width:320px;height:380px;"></div>
        </p>
    </div>
</div>